body
{
    background-color:hsl(212, 45%, 89%);
}

.QR
{
    width: 400px;
    height: 650px;
    background-color: hsl(0, 0%, 100%);
    margin: 30%;
    border-radius: 20px;
}
img
{
    height: 355px;
    width: 355px;
    border-radius:20px;
    margin-left:6%;
    margin-top:4%;
}
h1
{
    text-align:center,justify;
    text-indent: 5px;
    font-size:25px;
    padding:15px;
    padding-left: 20px;
    padding-right: 20px;
    color:hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    margin:5%;
    
    
}
p
{
    text-align:center;
    font-size: 15px;
    margin-top:4%;
    margin-left: 15%;
    margin-right: 15%;
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
}